{% extends 'base.html' %}
{% block content %}
{% load static %}
<h1 class="text-center">{{pokemon.name}}</h1>
<br>
<div class="row">
    <div class="justify-content-center d-flex">
        <img src="/static/images/{{ pokemon.poke_id }}.jpg" width="150" height="150" class="img-responsive">
    </div>
</div>
{% if user.is_authenticated %}
<div class="row p-2">
    <div class="justify-content-center d-flex">
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="add-to-favourite" value="1">
            <button type="submit" class="btn btn-success">Add to favourite</button>
        </form>
    </div>
</div>
{% endif %}
<div class="table-responsive-sm row justify-content-center">
    <table class="table table-bordered center" style="width:50%">
        <thead>
        <tr>
            <th scope="row">No</th>
            <td scope="row">{{pokemon.id}}</td>
        </tr>
        <tr>
            <th scope="row">Poke id</th>
            <td scope="row">{{pokemon.poke_id}}</td>
        </tr>
        <tr>
            <th scope="row">Name</th>
            <td scope="row">{{pokemon.name}}</td>
        </tr>
        <tr>
            <th scope="row">Type 1</th>
            <td scope="row">{{pokemon.type_1}}</td>
        </tr>
        <tr>
            <th scope="row">Type 2</th>
            <td scope="row">{{pokemon.type_2}}</td>
        </tr>
        <tr>
            <th scope="row">Total</th>
            <td scope="row">{{pokemon.total}}</td>
        </tr>
        <tr>
            <th scope="row">Hp</th>
            <td scope="row">{{pokemon.hp}}</td>
        </tr>
        <tr>
            <th scope="row">Attack</th>
            <td scope="row">{{pokemon.attack}}</td>
        </tr>
        <tr>
            <th scope="row">Defence</th>
            <td scope="row">{{pokemon.defence}}</td>
        </tr>
        <tr>
            <th scope="row">Sp attack</th>
            <td scope="row">{{pokemon.sp_attack}}</td>
        </tr>
        <tr>
            <th scope="row">Sp defence</th>
            <td scope="row">{{pokemon.sp_defence}}</td>
        </tr>
        <tr>
            <th scope="row">Speed</th>
            <td scope="row">{{pokemon.name}}</td>
        </tr>
        <tr>
            <th scope="row">Generation</th>
            <td scope="row">{{pokemon.generation}}</td>
        </tr>
        <tr>
            <th scope="row">Legendary</th>
            <td scope="row">{{pokemon.legendary}}</td>
        </tr>
        </thead>
    </table>
</div>

{% endblock  %}